<p class="subtitle-page  mb-3">
    Conceptos
</p>
<form action="" [formGroup]="myForm" >

    <div class="container ">
        <div class="row row-cols-5 mb-5">
            <div class="col mb-4">
                <label for=" ">Cantidad**</label>
                <input type="text" formControlName="cantidad" class="form-control" maxlength="24"
                    [imask]="cantidadConcep" [unmask]="true">
            </div>
            <div class="col mb-4">
                <label for=" ">Clave Unidad**</label>
                @if(dropdownConsulta.length>0){
                <ng-multiselect-dropdown formControlName="claveUnidad" [placeholder]="''" class="no-checkbox  "
                    [settings]="dropdownSettingsConsulta" [data]="dropdownConsulta">
                </ng-multiselect-dropdown>
                }
            </div>
            <div class="col mb-4">
                <label for=" ">Unidad </label>
                <input type="text" class="form-control " formControlName="unidad">
            </div>
            <div class="col mb-4">
                <label for=" ">Descripcón**</label>
                <input type="text" class="form-control " formControlName="descripcion">
            </div>
            <div class="col mb-4">
                <label for=" ">Clave Producto/Servicio**</label>
                @if(dropdownConsulta.length>0){
                <ng-multiselect-dropdown formControlName="claveProdServ" [placeholder]="'claveProdServ'"
                    class="no-checkbox  " [settings]="dropdownSettingsConsulta" [data]="dropdownConsulta">
                </ng-multiselect-dropdown>
                }
            </div>
            <div class="col mb-4">
                <label for=" ">No. Indentificacón**</label>
                <input type="text" class="form-control " formControlName="noIdentificacion">
            </div>
            <div class="col mb-4">
                <label for=" ">V.Unitario**</label>
                <input type="text" class="form-control " formControlName="valorUnitario" maxlength="17"
                    [imask]="vUnitario" [unmask]="true">
            </div>
            <div class="col mb-4">
                <label for=" ">Descuento</label>
                <input type="text" class="form-control " formControlName="descuento" maxlength="17" [imask]="descuento"
                    [unmask]="true">
            </div>
            <div class="col mb-4">
                <label for=" ">Cuenta Predial**</label>
                <input type="text" class="form-control " formControlName="cuentaPredial">
            </div>
            <div class="col mb-4">
                <label for=" ">Objeto Impuestos*</label>
                <select class="form-select form-control " (change)=" mostrarTablaImpuestos($event)"
                    aria-label="Default select example" formControlName="objetoImp">
                    <option *ngFor="let objetoImpuesto of dropdownObjetoImpuesto" [value]="objetoImpuesto.label">
                        {{objetoImpuesto.label}}</option>
                </select>
            </div>
            <div class="col mb-4">
                <label for=" ">Complementos</label>

                <ng-multiselect-dropdown formControlName="complementos" [placeholder]="" [settings]="dropdownSettingsIEDU"
                    [data]="dropdownIEDU " (onDeSelect)="onItemDeSelectIEDU($event)"
                    (onSelect)="onItemSelectIEDU($event)" (onDeSelectAll)="onDeSelectAllIEDU($event)"
                    (onSelectAll)="onSelectAllIEDU($event)">
                </ng-multiselect-dropdown>

            </div>
        </div>
    </div>


    <div class="container " id="IEDU" class="mb-3" *ngIf="mostrarApartadoIEDU">
        <div class="prueba">
            <label for="e" class="prueba2">IEDU</label>
            <div class="row row-cols-3  mb-5 justify-content-b ">
                <div class="col mb-4">
                    <label for=" " class="">Nombre Alumno*</label>
                    <input type="text" class="form-control " [imask]="nomAlumno" [unmask]="true">
                </div>
                <div class="col mb-4">
                    <label for=" ">CURP*</label>
                    <input type="text" class="form-control " oninput="this.value = this.value.toUpperCase()"
                        maxlength="18" placeholder="" [imask]="{mask:'aaaa000000aaaaaa00'}" [unmask]="true">
                </div>
                <div class="col mb-4">
                    <label for=" ">Nivel Educativo*</label>
                    <ng-multiselect-dropdown formControlName="objetoImp" [placeholder]="" class="no-checkbox"
                        [settings]="dropdownSettingsNivelEducativo" [data]="dropdownNivelEducativo ">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col mb-4">
                    <label for=" ">Autorización / Validez Oficial*</label>
                    <input type="text" class="form-control ">
                </div>
                <div class="col mb-4">
                    <label for=" ">RFC Pago</label>
                    <input type="text" class="form-control " maxlength="18" [imask]="RFC" [unmask]="true">
                </div>
            </div>
        </div>

    </div>

    <div class="container" class="mb-3" *ngIf="mostrarApartadoImpuestos">
        <div class="row">
            <div class="col-12 text-end">
                <app-modal (myEvent)="guardarImpuestos($event)"></app-modal>
            </div>
        </div>
        @if (load) {
        <table datatable [dtOptions]="dtOptions" class="row-border hover" id="impuestos-tabla">
            <thead>

                <tr>
                    <th>Impuesto</th>
                    <th>Federal/Local</th>
                    <th>Traslado/Retención</th>
                    <th>Tipo Factor</th>
                    <th>Tasa o Cuota</th>
                    <th>P.Aplicación</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @for (traslado of traslados().value; track $index) {
                <tr>
                    <td>{{traslado.impuesto}}</td>
                    <td>{{traslado.federalLocal}}</td>
                    <td>{{traslado.trasladoRetencion}</td>
                    <td>{{traslado.tipoFactor}}</td>
                    <td>{{traslado.tasaoCuota}}</td>
                    <td>{{traslado.pAplicacion | percent}}</td>
                    <td>
                        <button class="btn btn-light" (click)="deleteElementTtaslado($index)"> <i
                                class="fa-solid fa-circle-xmark iconoEliminar"></i>
                        </button>
                    </td>
                </tr>
                }

                @for (retencion of retenciones().value; track $index) {
                <tr>
                    <td>{{retencion.impuesto}}</td>
                    <td>{{retencion.federalLocal}}</td>
                    <td>{{retencion.trasladoRetencion}}</td>
                    <td>{{retencion.tipoFactor}}</td>
                    <td>{{retencion.tasaoCuota}}</td>
                    <td>{{retencion.pAplicacion}}</td>
                    <td>
                        <button class="btn btn-light" (click)="deleteElementReetenciones($index)"> <i
                                class="fa-solid fa-circle-xmark iconoEliminar"></i>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
    </div>


    <button class="conceptosAgregar" (click)="guardar()">Agregar</button>



</form>