.imouestosAgregar {
    background-color: #61A1FE;
    color: #fff;
    border-color: #61A1FE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
}

