<div class="container mt-5">
  <app-formulario1 (myEvent)="datosConceptos($event)"></app-formulario1>
  @if (loadConceptos) {
  <table datatable [dtOptions]="dtOptions" class="row-border hover" id="conceptos">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Clave Producto/Servicio </th>
        <th>Descripción</th>
        <th>Valor Unitario</th>
        <th>Descuento</th>
        <th>Importe</th>
        <th>Objeto Imp </th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>

      @for (concepto of conceptos; track $index) {
      <tr>
        <td> {{concepto.cantidad}} </td>
        <td>{{concepto.claveProdServ}}</td>
        <td>{{concepto.descripcion}}</td>
        <td>{{concepto.valorUnitario | currency:'$':'symbol-narrow':'1.2-2'}}</td>
        <td>{{concepto.descuento | currency:'$':'symbol-narrow':'1.2-2'}}</td>
        <td>{{concepto.importe | currency:'$':'symbol-narrow':'1.2-2'}}</td>
        <td>{{concepto.objetoImp}}</td>
        <td>
          <button class="btn btn-light" (click)="deleteElement($index)"> <i
              class="fa-solid fa-circle-xmark iconoEliminar"></i>
          </button>
        </td>
      </tr>
      }


    </tbody>
  </table>

  }


  <div class="container" id="" class="mb-3">
    <div class="row">
      <div class="col margen">
        <app-cargos-no-facturables (myEvent)="datosCargosNofacturables($event)"></app-cargos-no-facturables>
      </div>
      <div class="col">
        <div class="row bordeTotales" >
          <div class="col-sm-6 px-3 py-2 pb-1 marguinTotales" >
            <label for="" class="text-center ">SubTotal</label>
          </div>
          <div class="col-sm-6 px-3 py-2 marguinTotales fw-bold">
            <label for="">{{subTotal() | currency}}</label>
          </div>
          <div class="col-sm-6 px-3 py-2 pb-1 marguinTotales">
            <label for=""  class="text-center ">Descuento</label>
          </div>
          <div  class="col-sm-6 px-3 py-2 marguinTotales fw-bold">
            <label for="">{{descuento() | currency}}</label>
          </div>
          <div class="col-sm-6 px-3 py-2 pb-1 marguinTotales">
            <label for=""  class="text-center ">Total</label>
          </div>
          <div  class="col-sm-6 px-3 py-2 marguinTotales fw-bold">
            <label for="">{{total() | currency}}</label>
          </div>
          <div class="col-sm-6 px-3 py-2 pb-1 marguinTotales">
            <label for=""  class="text-center ">Gran Total</label>
          </div>
          <div  class="col-sm-6 px-3 py-2 marguinTotales fw-bold">
            <label for="">{{granTotal() | currency}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





<!-- <label for="">Total</label>
<label for="">Gran Total</label> -->