.margen {

    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border-radius: .4em;
    outline: none;
    border: 1px solid var(--color);
    position: relative;
    --color: #5757577e;


}


.margen2 {
    transform: translateY(-70%) scale(.7);
    transform-origin: left top;
    background-color: #fff;
    padding: 0% 1% 0% 1%;
    margin-left: 2%;
}


.cargosFactu {
    background-color: #000000;
    color: #fff;
    border-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
}