<div class="container mt-5">
  <app-formulario1 (myEvent)="datosConceptos($event)"></app-formulario1>
  @if (load) {
  <table datatable [dtOptions]="dtOptions" class="row-border hover" id="conceptos">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Clave Producto/Servicio </th>
        <th>Descripción</th>
        <th>Valor Unitario</th>
        <th>Descuento</th>
        <th>Importe</th>
        <th>Objeto Imp </th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>

      @for (concepto of conceptos; track $index) {
      <tr>
        <td> {{concepto.cantidad}} </td>
        <td>{{concepto.claveProdServ}}</td>
        <td>{{concepto.descripcion}}</td>
        <td>{{concepto.valorUnitario | currency:'$':'symbol-narrow':'1.2-2'}}</td>
        <td>{{concepto.descuento | currency:'$':'symbol-narrow':'1.2-2'}}</td>
        <td>{{concepto.importe | currency:'$':'symbol-narrow':'1.2-2'}}</td>
        <td>{{concepto.objetoImp}}</td>
        <td>
          <button class="btn btn-light" (click)="deleteElement($index)"> <i
              class="fa-solid fa-circle-xmark iconoEliminar"></i>
          </button>
        </td>
      </tr>
      }


    </tbody>
  </table>

  }


  <div class="container " id="" class="mb-3">
    <div class="row">
      <div class="col margen">
      <app-cargos-no-facturables></app-cargos-no-facturables>

      </div>
      <div class="col">
        <label for="">SubTotal</label>
        <input type="text" class="form-control" [value]=subTotal()>
        <label for="">Descuento</label>
        <input type="text" class="form-control">
        <label for="">Total</label>
        <input type="text" class="form-control">
        <label for="">Gran Total</label>
        <input type="text" class="form-control">
      </div>
    </div>

  </div>

</div>